.link_section {
    width: 100%;
    height: auto;
    border-bottom: #af814d 2px solid;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    /* 삐져나오기 허용 */
    position: relative;
    overflow: visible;
}

.main_link_sns, .main_link_sns img {
    width: 80%;
    max-height: 200px;
    margin: 8px 0 0 24px;
}

.main_ddoco_img {
    width: 60%;
    height: auto;
    transform: translateY(24%);
    z-index: 10;
}

 .main_link_store, .main_link_store img {
    width: 80%;
    max-height: 200px;
    margin: 8px 24px 0 0;
}

/* .main_gallery_section {
    width: 100%;
    height: 496px;
    border-bottom: #af814d 2px solid;
    display: flex;
} */

.schedule_section {
    width: 100%;
    height: 320px;
    border-bottom: #af814d 2px solid;
    display: flex;
}

.notice_section, .diary_section {
    flex: 1;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
}

.notice_section {
    border-right: #af814d 2px solid;
}

.subtitle {
    margin: 0;
    color: #6b4f2d;
    font-size: 28px;
    font-family: 'MemomentKkukkukk';
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

.date {
    color: #6b4f2d;
    font-size: 20px;
    font-family: 'MemomentKkukkukk';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.video_section {
    width: 100%;
    height: 496px;
    display: flex;
}