---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout active="sns">
    <section>
        <h2>youtube.com/ddang_cong0</h2>
        <section class="video_section">
            <div class="video_section_track" data-playlist="PLAYLIST_ID_A"></div>
        </section>

        <h2>youtube.com/mynametmdgk</h2>
        <section class="video_section">
            <div class="video_section_track" data-playlist="PLAYLIST_ID_B"></div>
        </section>
    </section>

    <script type="module" src="/sns.js"></script>
</BaseLayout>
