---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/sns.css";
---

<BaseLayout active="sns">
    <section>
        <h2>youtube.com/ddang_cong0</h2>
        <section class="video_section">
            <div class="video_section_track" data-playlist="PL7ISfPIOFyRRXXhwmE0eWJWu3gd5dCKyN"></div>
        </section>

        <h2>youtube.com/mynametmdgk</h2>
        <section class="video_section">
            <div class="video_section_track" data-playlist="PLYUsiiPuNElHeGVzAfaUcXojqcv_qNSRw"></div>
        </section>
    </section>

    <script type="module" src="/sns.js"></script>
</BaseLayout>
