---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout active="sns">
    <section>
        <h1>youtube</h1>

        <section class="video_section">
            <div class="video_section_track"></div>
        </section>
    </section>

    <script type="module" src="/sns.js"></script>
</BaseLayout>
